@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&display=swap');
*{
    padding: 0;
    margin: 0;
}

.body{
    background: url("../clear-snake-game-character-z6jd7jtsl04g6mxx.jpg");
    min-height: 100vh;
    background-size: 120vw 120vh;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}
#scoreBox{
    position: absolute;
    top:9px;
    right: 200px;
    font-size: 39px;
    font-weight: bold;
    font-family: "Caveat", cursive;
}
#hiscoreBox{
    position: absolute;
    top:50px;
    right: 130px;
    font-size: 39px;
    font-weight: bold;
    font-family: "Caveat", cursive;
}
#board{
    background: linear-gradient(rgb(111, 112, 142), rgb(18, 222, 38));
    width: 90vmin;
    height: 92vmin;
    border: 2px solid black;
    display: grid;
    grid-template-rows: repeat(18, 1fr);
    grid-template-columns: repeat(18, 1fr);
}

.head{
    background-color: blue;
    border: 2px solid purple;
    transform: scale(1.02);
    border-radius: 9px;
}
.snake{
    background-color: lightblue;
    border: .25vmin solid white;
    border-radius: 12px;
}

.food{
    background: linear-gradient(rgb(239, 135, 8),rgb(211, 234, 5));
    border: .25vmin solid black;
    border-radius: 8px;
}